.container-items{
    width: 31.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    --bg-pseudo: url();
}
.stepper-item{
    width: 20px;
    height: 20px;
    background: #d4d4d4;
    background-position: center;
    text-align: center;
    border-radius: 50%;
    transition: all;
    transition-duration: 300ms;
    position: relative;
}
.line{
    flex: 1 1 auto;
    border-top-width: 2px;
    transition: all;
    transition-duration: 300ms;
}
.active{
    width: 32px !important;
    height: 32px !important;
    background: #469ebd url(../../assets/airplane.svg) !important;
    color: #fff;
}
.check{
    background: #469ebd url(../../assets/check.svg) !important;
    cursor: pointer;
}
.line-active{
    border-color: #469ebd;
}
